<%- include('partials/header'); -%>

<div class="container-fluid">
  <div class="row heading">
  <div class="col-lg-6">
    <div class="heading-content">
      <h1>Buzzingg around too much?</h1>
      <h4>Be productive with Utility One</h4>
      <button type="button" class="btn btn-secondary btn-lg">Get Started</button>
    </div>
  </div>
  <div class="col-lg-6">
    <img src="/images/heading.png" alt="girl being productive">
  </div>
</div>
</div>


<!-- ///////////////////////////Features////////////////////////////////////// -->
<section id="features">
  <div class="container-fluid" style="text-align: center">
    <h1>Work Smart. Save Time. </h1>
    <div class="row">
      <div class="col-lg-4" style="padding:20px 40px">
        <i class="fas fa-check-circle fa-4x"></i>
        <h3 class="feat">Organise your tasks</h3>
        <p class="desc">Capture and organize tasks the moment they pop into your head.</p>
      </div>
      <div class="col-lg-4" style="padding:20px 40px">
        <i class="fas fa-check-circle fa-4x"></i>
        <h3 class="feat">Time blocking technique</h3>
        <p class="desc">Use Pomodoro to stay focused and get things done.</p>
      </div>
      <div class="col-lg-4" style="padding:20px 40px">
        <i class="fas fa-check-circle fa-4x"></i>
        <h3 class="feat1">Ace your exams</h3>
        <p class="desc">Supercharge your learning experience with Flashcards and crush your quizzes.</p>
      </div>
    </div>
  </div>
</section>


<!-- *********************PRODUCTS************************** -->
<section id="products">
  <div class="container">
   <div class="">
     <div class="row">
       <div class="col-3">
         <img src="/images/pomodoro.png" alt="">
       </div>
       <div class="col">
         <h4><a style="text-decoration: none; color: black" href="/pomodoro">Pomodor</a>o</h4>
         <p>Adopt the widely known technique of time blocking to have the most productive study sessions.
           It uses a timer to break down work into intervals of 25 minutes, separated by short breaks. Each interval is called a pomodoro.
           Combat distractions in the most effective way.
         </p>
       </div>
     </div>

     <div class="row">
       <div class="col">
         <h4><a style="text-decoration: none; color: black" href="/todo">Todo Lists</a></h4>
         <p>Don't burden your brain with all the tasks that you have to do. Optimize your time effectively by jotting down all your tasks
          in our ToDo lists. Divide your tasks into categories and organize and prioritize your tasks in the best way possible. Be ahead
          of all your deadlines.
         </p>
       </div>
       <div class="col-3">
         <img src="/images/list.png" height="140" width="140" alt="">
       </div>
     </div>

     <div class="row">
       <div class="col-3">
         <img src="/images/flash-card.png" height="140" width="140" alt="">
       </div>
       <div class="col">
         <h4><a style="text-decoration: none; color: black" href="/collections">Flashcards</a></h4>
         <p>Adopt the widely known technique of time blocking to have the most productive study sessions.
           It uses a timer to break down work into intervals of 25 minutes, separated by short breaks. Each interval is called a pomodoro.
           Combat distractions in the most effective way.
         </p>
       </div>
     </div>

     <div class="row">
       <div class="col">
         <h4><a style="text-decoration: none; color: black" href="/platforms">Contests Tracker</a></h4>
         <p>Is everyone around you super into Competitive Programming, but you always seem to miss out on the contest? Don't worry! We are here to help you out.
           Get a list of all the online programming contest right at one place and register for them straight-away
         </p>
       </div>
       <div class="col-3">
         <img src="/images/planner.png" height="140" width="140" alt="">
       </div>
     </div>
   </div>


  </div>
</section>
<%- include('partials/footer'); -%>
